# pixi environments
.pixi/*
!.pixi/config.toml
__pycache__/

**/bertopic_model*
**/bertopic_model_*
**/bertopic_model

backups/

.vscode/

.env

# embeddings
data/embeddings/gemini.npz

# Claude Code Files
docs/
CLAUDE.md

tf_idf_results/
web_cluster/
